* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    height: 200px;
    background: linear-gradient(-180deg, #F53D2D, #f63);
    font-size: 90%;
    
}
a {
    text-decoration:  none;
    color: white;
}
.header_row1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header_row1_1, .header_row1_2 {
    width: 40%;
    display: flex;
    justify-content: center;
   
    
}
.header_row1_item {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  
    margin-left: 5px

}


.header_row1_item5, .header_row1_item6, .header_row1_item7 {
    display: flex;
}

.header_row1_item5 > img, .header_row1_item6 > img, .header_row1_item7 > img {
    height: 40%;
}

.header_row2 {
    width: 100%;
    height: 100px;
    
    display: flex;
    
   
}
.header_row2_1{
    flex: 10%;
    display: flex;
    justify-content: space-around;
    background-color: green;
}

.header_row2_2{
    flex: 50%;

    background-color: red;
}

.header_row2_3 {
    flex: 20%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_row2_3 img {
    scale: 2;
}

.header_row2_1 img {
    width: 80%;
    
    
}
.header_row2_2 > input {
    margin-top: 20px;
    width: 100%;
    height: 55%;
  
}


.header_row3 {
    display: flex;
    justify-content: space-around;
}

